@import url("https://fonts.googleapis.com/css?family=Lora");
@import url("https://fonts.googleapis.com/css?family=Nunito");
body {
  background-color: #633458;
  margin: 0;
  font-family: "Lora", serif;
  font-size: 18px;
  background-color: #fff; }
  body:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 18px;
    top: 0;
    left: 0;
    background: #a1195b;
    background-image: linear-gradient(to right, #a1195b 25%, #e49a6d 75%, #e49a6d 100%); }

.container {
  width: 90%;
  margin: 0 auto; }

h1, h2, h3 {
  color: #e49a6d; }

section {
  height: 100vh; }

nav ul {
  display: none; }

h1 {
  font-size: 3rem; }

.start {
  display: flex;
  align-items: left;
  justify-content: left;
  height: 100vh; }
  .start img {
    height: 200px;
    position: absolute;
    top: calc(50% - 100px);
    left: 70%; }
  .start h1 {
    align-self: flex-end;
    margin-bottom: 100px; }
